<launch>
  <!-- Set the param that trajectory_execution_manager needs to find the controller plugin -->
 <arg name="moveit_controller_manager" default="kuka_lwr_moveit_controller_manager/MoveItControllerManagerKukaLwr" />
 <param name="moveit_controller_manager" value="$(arg moveit_controller_manager)"/>
 <arg name="controller_manager_name" default="kuka_lwr_controller_manager" />
 <param name="controller_manager_name" value="$(arg controller_manager_name)" />
 <arg name="use_controller_manager" default="true" />
 <param name="use_controller_manager" value="$(arg use_controller_manager)" />

  <!-- The rest of the params are specific to this plugin -->
 <rosparam file="$(find kuka_lwr_moveit_config_mit_gripper)/config/controllers.yaml"/>    
</launch>
